body{
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(imagenes/colorwaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding: 5% 0 0 0;
    margin: 0;
}

.recuadro{
    margin-left: 100px;
    max-width: 80%;
    max-height: max-content;
    box-sizing: border-box;
    border-left: 5px black;
    border-right: 2px black;
    background-color: rgba(245, 245, 245, 0.74);
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    position: fixed;
    top: 5px;
    left: 50px;
    width: 100px;
    z-index: 100;
       
}

.contenedor{
    display: flex;
    width: 100%;
    max-width: 100%;
    max-height: 50%;
}

.contenedor img{
    width: 100%;
    max-width: 100%;
    height: 400px;
}

.menu{
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 100;
}

nav{
    position: absolute;
    justify-content: center;
    top: 40px;
    right: 50;
}

nav li{
    display: inline;
    margin: 0 0 0 10px;
}

nav a{
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box ;
    padding: 2px 2px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    
   
}

nav a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 17px;
    box-sizing: border-box ;
    width: 5px;
    height: 5px;
    padding: 2px 2px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
}

.info li{
    display: block;
    padding: 20px;
   
}

.info h2{
    display: flex;
    justify-content: left;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.info p{
    max-width: 900px;
    margin: 0;
    position: relative;
    justify-content: left;
    color: rgb(3, 3, 3);
    font-size: 20px;
    font-weight: lighter;
    
}

.items{
    padding: 20px;
}
.info img{
    justify-content: center;
    max-width: 500px;
    max-height: 230px;
    padding: 10px;
}

footer{
    padding: 10px;
    background-color: rgb(255, 255, 255);

}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li{
    display: inline-block;
    margin: 10px;
}

.redes img{
    width: 30px;
    height: 30px;
}

.final{
    display: flex;
    align-content:center;
    justify-content: center;
}

.final li{
    display: inline-block;
    margin: 10px;
}

.final a{
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-style: normal;
    color:black;
    text-decoration: none;
}

.final p{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    color:black;
    text-decoration: none;
    font-weight: bold;
}

#btnScrollToTop{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    font-weight: bold;
}

#btnScrollToTop:hover{
    color: chocolate;
}

.productos img{
    width: 200px;
    height: 200px;
}

.productos li{
text-align: center;
display: inline-block;
width: 30%;
vertical-align: top;
margin: 10px 1.5%;
padding: 30px 20px;
box-sizing: border-box;
border: 2px solid black;
border-radius: 10px;
}

.productos li:hover{
    border-color: crimson;
}

.productos img:hover{
   transform: scale(1.4);
   
}

.productos li:active{
    border-color: green;
}